.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod;
    grid-column: 1/13;
    height: 80px;
    padding: 16px 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    position: relative;
}

.header h1 {
    font-family: var(--FeaturedTypograph);
    color: black;
    margin-left: .3rem;
}

.container_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 100%;
}

.container_logo img {
    margin-top: 1.2rem;
    filter: drop-shadow(4px 2px 2px black);
}

.navegation i {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    
}

.menu__lista {
    padding: 1rem;
    width: 60vw;
    max-width: 300px;
    height: auto;
    list-style: none;
    /* background-color: rgba(0, 0, 0,.2); */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -300px;
    transition: all .5s ease-out;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.75);


}

.menu__item {
    border: 2px solid;
    width: 100%;
    border-radius: 4px;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
}

.menu__link {
    color: black;
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .5rem;
}


.menu__lista.ativo {
    right: 0px;
    z-index: 9999;
}